* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  margin: 0 auto;
  text-align: center;
}

/* Button */
button {
  border: 0;
  background: #222;
  color: #fff;
  border-radius: 10pt 10pt;
  padding: 1em;
  margin: 0 auto;
  width: 50%;
}

button:hover {
  background: #666;
}

/* Square */
.square {
  background: #fff;
  color: #333;
  border: 1px solid #999;
  border-radius: 0;
  float: left;
  font-size: 40pt;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin: 0;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:hover {
  background: #efefef;
}

.regularSquare {
  background: #fff;
}

/* Winning Square */
.winner .regularSquare,
.draw .regularSquare {
  background: #ededed;
}

.winner .square:hover,
.draw .regularSquare:hover {
  background: #ededed;
}

.winningSquare {
  background: #fcffcd;
}

.winner .winningSquare:hover {
  background: #fcffcd;
}

/* Non-Winning Square */
.winner .regularSquare {
  color: #666;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* Game Status */
.status {
  margin-bottom: 1em;
  text-align: center;
  background: #ededed;
  padding: 0.5em;
  max-width: 300px;
}

/* Game Board */
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

/* For larger screens */
@media screen and (min-width: 800px) {
  .game {
    flex-direction: row;
  }
  .game-info {
    padding-left: 2em;
    margin-top: 0;
  }
}

/* For smaller screens */
@media screen and (max-width: 800px) {
  .game-board {
    margin: 0 auto;
  }
  .game-info {
    margin: 0 auto;
    margin-top: 2em;
  }
  button {
    width: 50%;
  }
}

/* Game board */
.game-board {
  min-width: 300px;
}

/* List of moves */
ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
}

li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5em;
}

.reversed {
  flex-direction: column-reverse;
}

/* Location */
.coords {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 0.75em;
  display: block;
}

li:first-child .coords {
  display: none;
}

li:first-child button {
  width: 100%;
}

.current {
  text-align: center;
  border-radius: 10pt 10pt;
  border: 1pt solid #222;
  padding: 0.9em;
}

/* Toggle descending order */
.switch {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 1.5em;
  height: 1.5em;
}
