* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  margin: 2em;
  padding: 0;
}

button {
  border: 0;
  background: #222;
  color: #fff;
  border-radius: 10pt 10pt;
  padding: 1em;
  margin: 0 auto;
}

button:hover {
  background: #666;
}

.square {
  background: #fff;
  color: #333;
  border: 1px solid #999;
  border-radius: 0;
  float: left;
  font-size: 40pt;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin: 0;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square:hover {
  background: #efefef;
}

.regularSquare {
  background: none;
}

.winner .regularSquare,
.draw .regularSquare {
  background: #ededed;
}
.winner .regularSquare {
  color: #666;
}

.winner .square:hover,
.draw .regularSquare:hover {
  background: #ededed;
}

.winningSquare {
  background: #fcffcd;
}

.winner .winningSquare:hover {
  background: #fcffcd;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 1em;
  text-align: center;
  background: #ededed;
  padding: 0.5em;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 2em;
}

ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
}

li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5em;
}

.reversed {
  flex-direction: column-reverse;
}

.coords {
  margin: 0.5em;
  padding: 1em;
  font-size: 0.8em;
}

li:first-child .coords {
  background: 0;
  margin: 0;
  padding: 0;
}

li:first-child button {
  width: 100%;
}

.current {
  text-align: center;
  border-radius: 10pt 10pt;
  border: 1pt solid #222;
  padding: 0.9em;
}

.switch {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 1.5em;
  height: 1.5em;
}

.checkbox:checked {
  background: #333;
}
